
.active {
    background-color: light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-6));
  }
.mantine-ActionIcon-icon {
  color: var(--mantine-color-black);

  @mixin dark {
    color: var(--mantine-color-yellow-5)
  }
}
.mantine-ActionIcon-root {
  border: 1px solid var(--mantine-color-black);

  @mixin dark {
    border: 1px solid var(--mantine-color-yellow-5)
  }
}
.mantine-Button-root {
  @mixin dark {
    border: 1px solid var(--mantine-color-yellow-5);
    color: var(--mantine-color-yellow-5)
  }
}